<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="styles/2d46391d.vendor.css">
    <link rel="stylesheet" href="styles/dc08dd27.main.css">
  
  <body ng-app="pirsApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div ng-controller="NoticeCtrl">
        <div style="padding-top:54px" class="animateAble" ng-class="{animateDown: active}"></div>
        <div class="navbar navbar-fixed-top sticky-notice bg-success animateAble" ng-class="{animateDown: active}">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 padt10 padb10">
                  <strong style="font-size:1.7em">All Done?</strong>
                  <a ng-href="#/finish" class="btn btn-success pull-right" ng-click="next()" ng-class="{disabled:nextIsLoading}">
                        <span ui-ladda="nextIsLoading" class="ladda-button" data-style="zoom-in">
                        <span class="glyphicon glyphicon-ok"></span> 
                        </span>
                        <span ng-if="!nextIsLoading">&nbsp;Continue to the Final Page!</span>
                        <span ng-if="nextIsLoading">&nbsp;Please Wait...</span>
                    </a>
                </div>
              </div>
            </div>
        </div>
    </div>
    <header class="navbar">
        <div class="container">
            <h1 class="clearfix mobileShrink"><a href="//digitalstewards.ca" target="_blank" title="Digital Stewardship Initiative Home Page"><img src="images/efd53cc9.dsi-logo.png" width="130" class="pull-left" style="padding-right:10px" alt="Digital Stewardship Initiative"></a><span>Personal Information Request&nbsp;Service</span></h1>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 centre-xs">
                <ol class="pagination pagination-sm" ng-controller="ProgressCtrl" ng-class="flexProgress">
                  <li ng-class="{disabled: (activeIndex < 1 || previous.restricted)}">
                    <a ng-href="{{previous.path}}" ng-show="(!previous.restricted)"><span><i class="glyphicon glyphicon-chevron-left"></i></span></a>
                    <a ng-show="(previous.restricted)"><span><i class="glyphicon glyphicon-chevron-left"></i></span></a>
                  </li>
                  <li ng-repeat="stage in stages" ng-class="{firstStep: $first, lastStep: $last, disabled: (stage.restricted), active: stage.active, completedPast: (activeIndex > $index)}">
                    <a ng-show="(stage.restricted)">
                        <span class="hidden-xs"><i class="{{stage.icon}}"></i> {{stage.name}}</span>
                        <span class="visible-xs"><i class="{{stage.icon}}"></i> <strong>{{$index+1}}</strong></span>
                    </a>
                    <a ng-href="{{stage.path}}" ng-show="(!stage.restricted)">
                        <span class="hidden-xs"><i class="{{stage.icon}}"></i> {{stage.name}}</span>
                        <span class="visible-xs"><i class="{{stage.icon}}"></i> <strong>{{$index+1}}</strong></span>
                    </a>
                  </li>
                  <li ng-class="{disabled: (activeIndex == stages.length - 1 || next.restricted)}">
                    <a ng-href="{{next.path}}" ng-show="(!next.restricted)"><span><i class="glyphicon glyphicon-chevron-right"></i></span></a>
                    <a ng-show="(next.restricted)"><span><i class="glyphicon glyphicon-chevron-right"></i></span></a>
                </li>
                </ol>
            </div>
        </div>
        <div ng-view=""></div>
    </div>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <script src="scripts/8ab80d41.vendor.js"></script>

        <script src="scripts/423b4b07.scripts.js"></script>

