<div class="row">
  <div class="col-xs-12 col-sm-4 marb-xs-5">
    <div class="btn btn-default btn-sm btn-block" tabindex="3" ng-enter="previous()" ng-click="previous()"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Back to your {{company.name}} Letter</div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>Thank you.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-5 marb-xs-5">
    <div ng-click="startOver()" tabindex="2" ng-enter="startOver()" class="btn btn-sm btn-info pull-right btn-block"><span class="glyphicon glyphicon-flag"></span>&nbsp;Request From Another Company</div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>Contribute to the project</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad <strong>Open Media</strong>.</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-5 marb-xs-5">
    <a href="https://openmedia.ca" tabindex="2" class="btn btn-lg btn-primary pull-right btn-block">Fill out a survey&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>
  </div>
</div>