<h2>Request access to your personal&nbsp;information.</h2>
<p>The Canadian law <a href="http://www.priv.gc.ca/resource/fs-fi/02_05_d_54_ati_02_e.asp" target="_blank">PIPEDA</a> obliges Canadian companies to provide access to the personal information they hold on you, if you send them a formal request.
</p><p><strong>To create your request</strong>, simply follow the steps to fill out a form, and either print and mail in the generated letter, or email it to the company.</p>

<div class="clearfix mart10 marb10">
	<a ng-href="#/companyInfo" class="btn btn-lg btn-primary" ng-click="next()" ng-class="{disabled:nextIsLoading}">
	<i class="fa" ng-class="{'fa-flag': !nextIsLoading, 'fa-spinner': nextIsLoading, rotating: nextIsLoading}"></i> 
	<span ng-if="!nextIsLoading">&nbsp;Start Your Request</span>
	<span ng-if="nextIsLoading">&nbsp;Please Wait...</span>
	</a>
</div>

<div class="well clearfix mart10">
	<a ng-if="!show" class="pull-right btn btn-info" ng-click="showToggle()">Show FAQ <i class="fa fa-chevron-down"></i></a>
	<a ng-if="show" class="pull-right btn btn-info" ng-click="showToggle()">Hide FAQ <i class="fa fa-chevron-up"></i></a>
	<h3 ng-click="">Frequently Asked Questions</h3>
	<div ng-if="show">
		<hr>
		<h4>What is a PIPEDA request?</h4>
		<p><abbr title="Protection of Personal Information and Electronic Documents Act">PIPEDA</abbr> contains 10 <a href="http://laws-lois.justice.gc.ca/eng/acts/P-8.6/page-19.html#h-25" target="_blank">Fair Information Principles</a>, one of which (Principle 4.9) relates to individuals’ right to access personal information data operators (such as telcos) hold about them.</p>
		<p>In general, the Act obliges data operators to give individuals access to their personal information on request. Operators have to do this in a complete and timely way, at little or no cost to the requester. <small>(Source: <a href="http://www.priv.gc.ca/resource/fs-fi/02_05_d_54_ati_02_e.asp" target="_blank">Office of the Privacy Commissioner of Canada</a>)</small></p>
		<hr>
		<h4>Why should I care?</h4>
		<p>Lorem ipsum</p>
		<hr>
		<h4>OK, what do I have to do?</h4>
		<p>Just fill out the form and generate a PDF letter, which you'll then mail to the indicated address via snail mail. If the company in question has a listed email address for a privacy officer, you'll also be able to send your letter electronically.</p>
		<hr>
		<h4>Why a letter?</h4>
		<p>Lorem ipsum</p>
		<hr>
		<h4>Does this tool collect my personal information?</h4>
		<p><strong>No</strong>, this tool has been designed to run <strong>entirely within your web browser</strong>. The information you input into the form stays on your computer; <strong>we have no idea who you are, and want to keep it that way</strong>!</p>
		<hr>
		<p>
			<a ng-href="#/companyInfo" class="btn btn-primary" ng-click="next()" ng-class="{disabled:nextIsLoading}">
			<i class="fa" ng-class="{'fa-flag': !nextIsLoading, 'fa-spinner': nextIsLoading, rotating: nextIsLoading}"></i> 
			<span ng-if="!nextIsLoading">&nbsp;Start Now</span>
			<span ng-if="nextIsLoading">&nbsp;Please Wait...</span>
			</a>
		</p>
	</div>
</div>